---
layout: default
title: Blog
description: Yazılım, teknoloji ve kişisel gelişim üzerine yazılarım.
permalink: /blog/
---

<div class="blog-header">
    <h1 class="blog-title">Blog</h1>
    <p class="blog-description">Yazılım, teknoloji ve kişisel gelişim üzerine yazılarım.</p>
</div>

<div class="blog-list">
    {% if site.posts.size > 0 %}
    {% for post in site.posts %}
    <article class="blog-item">
        <a href="{{ post.url | relative_url }}">
            <h2 class="blog-item-title">{{ post.title }}</h2>
        </a>
        <div class="blog-item-meta">
            <time datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: "%d %B %Y" }}</time>
        </div>
        <p class="blog-item-excerpt">
            {% if post.description %}
            {{ post.description }}
            {% else %}
            {{ post.excerpt | strip_html | truncate: 160 }}
            {% endif %}
        </p>
    </article>
    {% endfor %}
    {% else %}
    <div class="blog-empty">
        <p>Henüz blog yazısı yok. Yakında yeni içerikler eklenecek!</p>
    </div>
    {% endif %}
</div>